<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topsec.ti.zxg.mapper.UserMapper">
    <select id="getById" resultType="User">
    select * from mcjc_user where res_id=#{id}
  </select>
  <select id="getByName" resultType="User">
    select * from mcjc_user where res_name like CONCAT('%',#{name},'%')
  </select>
  <select id="getAllUser" resultType="User">
    select * from mcjc_user
  </select>

</mapper>
