<!-- 外部应用系统管理 弹框  pop -->
<div>
    <div class="modal-header modal-blue">
        <span class="modal-blue-title">{{title}}</span>
    </div>
    <div  class="modal-body">
        <!--<div class="bs-example">-->
            <form class="form-horizontal" role="form">
                <div class="row form-group">
                    <label  class="col-sm-4 control-label">系统名称:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" style="max-width:320px;"
                               ng-model="item.name" placeholder="请输入系统名称，必填项"
                                required>
                    </div>
                    <div class="col-sm-2">
                        <span style="color:#ff0000;font-size: 28px;height: 100%;vertical-align: middle;">*</span>
                    </div>
                </div>
                <div class="row form-group">
                    <label  class="col-sm-4 control-label">功能描述:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" style="max-width:320px;"
                               ng-model="item.note" placeholder="请输入功能描述">
                    </div>
                </div>
                <div class="row form-group">
                    <label  class="col-sm-4 control-label">访问地址:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" style="max-width:320px;"
                               ng-model="item.url" placeholder="请输入访问地址">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-4 control-label">服务厂商:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" style="max-width:320px;"
                               ng-model="item.original" placeholder="请输入服务厂商">
                    </div>
                </div>
                <div class="row form-group">
                    <label  class="col-sm-4 control-label">管理员联系方式:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" style="max-width:320px;"
                               ng-model="item.phone" placeholder="请输入管理员联系方式">
                    </div>
                </div>
                <div class="modal-footer" style="height: 40px;">
                    <button class="btn btn-sm btn-primary" type="submit" ng-click="okClick();">确认</button>
                    <button class="btn btn-sm btn-warning" type="button" ng-click="cancelClick();">取消</button>
                </div>
            </form>
        <!--</div>-->
    </div>

</div>